<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyberocw.habittodosecretary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ShareActivity" android:label="Alarm"
                  android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".alaram.ui.AlarmNotiActivity" android:label="AlarmNoti"/>
        <activity android:name=".util.TTSNotiActivity" android:label="TTSNotiActivity" android:theme="@style/Theme.AppCompat.Translucent"/>
        <receiver android:name=".alaram.receiver.AlarmReceiver"></receiver>
        <receiver android:name=".alaram.service.NotificationService$CloseButtonListener" />
        <service android:name=".alaram.service.NotificationService" />
        <service android:name=".alaram.service.TimerService"></service>
        <service android:name=".alaram.service.AlarmBackgroudService"></service>
        <service android:name=".util.TTSNoti" />

        <receiver android:name=".util.BootReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="93d0706282144a1eb8ba6454ab25046d770d30aa" />
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
